.frstwebsite{
  color: acqua;
}
.myfavouritevideogames{
  color: acqua;
  background-image: linear-gradient:(to right, white,navy)
}
.scnwebsite{
  color: darkorange;
  background-image: linear-gradient:(to right, gold,white,gold)
}
.adayinmylife{
  color: darkorange; 
}
.thrwebsite{
color: lightblue;  
}
.robloxers{
color: lightblue; 
}
.frthwebsite{
  color: navy;
}
.geometrydash{
  color: navy;
}
