.frstwebsite{
  color: acqua;
}
.myfavouritevideogames{
  color: acqua;
}
.scnwebsite{
  color: darkorange;
}
.adayinmylife{
  color: darkorange; 
}
.thrwebsite{
color: lightblue;  
}
.robloxers{
color: lightblue; 
}
.frthwebsite{
  color: navy;
}
.geometrydash{
  color: navy;
}
